@font-face {
  font-family: "originalfont";
  src: url('../fonts/originalfont.eot');
  src: url('../fonts/originalfont.eot?#iefix') format('eot'),
    url('../fonts/originalfont.woff') format('woff'),
    url('../fonts/originalfont.ttf') format('truetype'),
    url('../fonts/originalfont.svg#originalfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.s:before {
  display: inline-block;
  font-family: "originalfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.s-0_3x { font-size: 0.3em; }
.s-0_4x { font-size: 0.4em; }
.s-0_5x { font-size: 0.5em; }
.s-0_6x { font-size: 0.6em; }
.s-0_7x { font-size: 0.7em; }
.s-0_8x { font-size: 0.8em; }
.s-0_9x { font-size: 0.9em; }
.s-1_1x { font-size: 1.1em; }
.s-1_2x { font-size: 1.2em; }
.s-1_3x { font-size: 1.3em; }
.s-1_4x { font-size: 1.4em; }
.s-1_5x { font-size: 1.5em; }
.s-1_6x { font-size: 1.6em; }
.s-1_7x { font-size: 1.7em; }
.s-1_8x { font-size: 1.8em; }
.s-1_9x { font-size: 1.9em; }
.s-2_1x { font-size: 2.1em; }
.s-2_2x { font-size: 2.2em; }
.s-2_3x { font-size: 2.3em; }
.s-2_4x { font-size: 2.4em; }
.s-2_5x { font-size: 2.5em; }
.s-2_6x { font-size: 2.6em; }
.s-2_7x { font-size: 2.7em; }
.s-2_8x { font-size: 2.8em; }
.s-2_9x { font-size: 2.9em; }
.s-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.s-good:before { content: "\EA01" }
