<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset='UTF-8'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href='/app/assets/stylesheets/originalfont.css' media='screen' rel='stylesheet'>
    <link href='/app/assets/stylesheets/application.css' media='screen' rel='stylesheet'>
    <script src='/app/assets/javascripts/jquery.min.js'></script>
    <script src='/app/assets/javascripts/application.js'></script>
  </head>
  <h1>Hello gulp!!!</h1>
</html>
